/**ADMIN STYLES**/
div.meta-box-wrapper div { margin-bottom: 10px; }
div.meta-box-wrapper div label { width: 160px; float: left; line-height: 23px; }
div.meta-box-wrapper div label.help-inline { float: none; }
div.meta-box-wrapper div input[type="text"], div.meta-box-wrapper div input[type="password"], 
div.meta-box-wrapper div textarea, div.meta-box-wrapper div select { width: 300px; }

div.meta-box-wrapper div .btn-upd{
	padding: 7px;
	width: 150px;
	height: auto;
	background: #00a0d2;
	border-color: #0073aa;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	font-weight: 700;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    text-decoration: none;
    transition:.5s;
}
div.meta-box-wrapper div .btn-upd:hover{
    opacity: .8;
    transition:.5s;
}
div.meta-box-wrapper div .btn-del{
	padding: 7px;
	width: 150px !important;
	height: auto;
	background: #eb2839;
	border-color: red;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	font-weight: 700;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    text-decoration: none;
    text-align: center;
    transition:.5s;
}
div.meta-box-wrapper div .btn-del:hover{
	opacity: .8;
    transition:.5s;
}

div.meta-box-wrapper div input.date_pic{
	width: 200px !important;
	height: 30px;
}

.k-animation-container{
	background: #ebebeb;
	border: 1px solid #00a0d2;
	color: #000;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.k-calendar .k-content {
	width: auto;
    height: 166px;
    outline: 0;
    padding: 15px;
}
.k-content thead tr th{
	border: 1px dotted #444;
	padding: 2px;
}
.k-content tbody tr td{
	border: 1px dotted #444;
	padding: 2px;
}
.k-picker-wrap .k-icon {
    cursor: pointer;
}
.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite {
/*    background-image: url('/wp-content/themes/auto2000/library/cpt2000/kaico.png');
    background-size: 100% 100%;*/
    color: blue;
    margin-left: 15px;
}
#ui-datepicker-div{
	background: #e5e5e5 !important;
	padding: 10px;
	border: 0;
	border-radius: 5px;
}
.ui-datepicker-calendar tbody tr td{
    background: #f3f3f3;
    border: 1px solid rgba(0,0,0,.1);
    text-align: center;
    font-size: 13px;
    padding: 2px;
}
.newcms_field{

}
.newcms_field label{

}
/*.newcms_field input{
	width: 100%;
}
.newcms_field select{
	width: 100%;
}*/
.newcms_field textarea{
	width: 100%;
	height: 150px;
}
.row_updateOTRCars{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.row_updateOTRCars:hover{
	background: #f1f1f1;
}
.btn_updateOTRCars{
	width: 150px;
	line-height: 30px;
	height: 30px;
	padding: 0;
	font-size: 11px;
	font-weight: 600;
	background: #333333;
	color: #fff;
	border: 0;
	cursor: pointer !important;
    transition: .3s;
    -webkit-transition: .3s
}
.btn_updateOTRCars:hover{
	background: #ed1b24;
    transition: .3s;
    -webkit-transition: .3s
}
div.meta-box-wrapper div.row_updateOTRCars label{
	width: 40%;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	padding-left: 15px;
}

.powerfull_table{
	width: 90%;
	font-size: 12.5px;
	color: #333;
	border: 1px solid rgba(0,0,0,.1);
	border-spacing: 0;
}
.powerfull_table thead tr{
	background: transparent;
}
.powerfull_table th{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.2);
	
}
.powerfull_table tbody tr.tr_0{
	background: transparent;
	
}
.powerfull_table tbody tr.tr_1{
	background: #f7f7f7;
	
}
.powerfull_table td{
	padding: 10px;
	text-align: center;
}
div.meta-box-wrapper div input[type="text"].txt_qty{
	background: transparent;
	width: 100px;
	font-size: 12.5px;
	color: #333;
	text-align: center;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,.4);
	border-radius: 0;
}
.col_variasi{

}
.col_adm_addvariation{
	padding-top: 35px;
}
.ht_adm_addvariation{
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 5px;
}
.btn_admvariation{
	background: #f4bf03;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.btn_admvariation.del{
	background: red;
}
.sub_adm_addvariation{
	background: #008ae6;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	margin-bottom: 10px;
}
.info_adm_product{
	width: fit-content;
	background: #f3f3f3;
	font-size: 11px;
	color: #333;
	font-weight: 500;
	font-style: italic;
	line-height: 25px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}