/* =========== for all dekstop version css ============*/
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    display: scroll;
    width: 7px;
    /*background-color: #9FA3AC;*/
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 20px;
}
body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;    
    line-height: 1.5;
    color: #565656;
    max-width: 100%;
    margin: auto;
    transition: .3s;
    -webkit-transition: .3s
}
a:hover{
    color: #FE5461;
    outline: none;
    text-decoration: none;
    font-style: none;
    transition: .3s;
    -webkit-transition: .3s
}
textarea:focus, input:focus, select:focus{
    /*border-color: #fec601;*/
    border:1px solid #0080FF;
    box-shadow: 0 0 5px #719ECE;
}

/*input:-moz-read-only { 
  background-color: #F2F3F7;
  cursor: not-allowed;
  border: 0;
}*/

input:read-only {
  background-color: #F2F3F7;
  cursor: not-allowed;
  border: 0;
}
html input[disabled]{
    background-color: #f3f3f3;
    cursor: not-allowed;
    color: #666;
    transition: .3s;
    -webkit-transition: .3s
}
.pad-0{
    padding: 0;
}
#container{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    background: #fff;
}
@media only screen and (min-width:1440px) {
    #container{
        max-width: 100%;
    }
}
.hide{
    display: none;
}
.select2-container {
    width: 100% !important;
}
.d-flex {
    display: flex;
}
.jc-space-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.p-absolute {
    position: absolute;
}
.p-relative {
    position: relative;
}
.btn-blue-white {
    background-color: #0080FF;
    color: #ffffff !important;
    border: 2px solid #0080FF;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.btn-blue-white:hover, .btn-blue-white:focus {
    background-color: #ffffff;
    color: #0080FF !important;
    border: 2px solid #0080FF;
    outline: none;
}

/* =========== checkout voucher ============*/
#box-checkout-voucher > div + div {
    border: 1px solid rgb(219, 222, 226);
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#box-checkout-voucher .icon-arrow img {
    width: 13px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
#box-checkout-voucher .f_chk_total {
    padding: 5px 15px;
}
#txtVoucher {
    line-height: 20px;
    padding: 5px 7px;
}
#txtVoucher span {
    font-size: 12px;
    color: #999;
    float: none;
}
.popup-ems {
    position: fixed;
    left: 0px;
    top: 0px;
    width: calc(100vw - 0px);
    height: 100vh;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #31313140 0% 0% no-repeat padding-box;
    z-index: 99999;
    padding: 4em 0px;
}
.popup-ems .col-md-5 {
    height: 80vh;
}
.popup-ems .box-content {
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
    margin-bottom: 20px;
}
.popup-ems .closePopup {
    font-size: 18px;
    font-weight: normal;
    background-color: #ffffff;
    padding: 15px 25px 10px 20px;
    display: flex;
    width: 100%;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #434343;
    margin: 0px;
    cursor: auto;
    justify-content: space-between;
    font-weight: bold;
}
.popup-ems .closePopup i {
    cursor: pointer;
}
#popupVoucher .form-voucher {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popupVoucher input.txt_aform {
    line-height: 0px;
    padding: 12px;
    margin-right: 5px;
}
#popupVoucher button[class^="btn"] {
    border-radius: 6px;
}
#popupVoucher .list-voucher {
    margin-top: 20px;
}
#popupVoucher .list-voucher > div {
    margin-bottom: 16px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(181, 187, 197);
    border-image: initial;
    border-radius: 4px;
    padding: 12px 20px;
}
#popupVoucher .list-voucher > div .fas {
    display: none;
}
#popupVoucher .list-voucher > div.selected {
    border: 1px solid #0080FF;
    background-color: #efefef;
    position: relative;
}
#popupVoucher .list-voucher > div.selected .fas {
    right: 0px;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    color: #0080FF;
    width: 60px;
}
#popupVoucher .list-voucher > div.inactive {
    opacity: 0.6;
    background-color: #efefef;
    cursor: not-allowed;
}
#popupVoucher .list-voucher > div h3 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}
#popupVoucher .list-voucher > div p {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
#popupVoucher .alert-voucher {
    font-size: 13px;
    color: red;
    display: none;
}
#btnVoucherCode {
    cursor: pointer;
}
#btnVoucherCode.disabled {
    background-color: #cccccc !important;
    border-color: #cccccc !important;
    color: #ffffff !important;
    cursor: not-allowed;
}
#popupVoucherDetail .closePopup {
    padding: 0px;
    position: relative;
}
#popupVoucherDetail .closePopup i {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 50%;
}
#popupVoucherDetail .closePopup hr {
    margin: 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #dddddd;
}
#popupVoucherDetail .closePopup > div:first-child {
    padding: 15px 25px 10px 20px;
    position: absolute;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#popupVoucherDetail .closePopup > div:nth-child(2),
#popupVoucherDetail .closePopup > div:nth-child(2) > div:first-child,
#popupVoucherDetail .closePopup > div:nth-child(2) > div:first-child > img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#popupVoucherDetail .closePopup > div:nth-child(2) > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    overflow: hidden;
}
#popupVoucherDetail .closePopup > div:nth-child(2) > div:first-child > img {
    height: auto;
    max-width: 100%;
}
#popupVoucherDetail .voucher-detail-name {
    padding: 15px 25px 12px 20px;
    font-weight: bold;
    margin: 0px;
    font-size: 20px;
}
#popupVoucherDetail .voucher-detail-date {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 1px 20px;
}
#popupVoucherDetail .voucher-detail-date > div {
    font-size: 13px;
    color: #939393;
}
#popupVoucherDetail.popup-ems .box-content {
    height: 60%;
    padding: 0px 20px 0px 20px;
}
#popupVoucherDetail.popup-ems .box-content h4 {
    margin-top: 20px;
}
.rv_totalpayment.line-through, .rv_pricetotal.line-through, .rv_shippingtotal.line-through {
    text-decoration: line-through;
    font-size: 15px;
    color: #999;
    font-weight: normal;
}
.f_total_pembayaran {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #434343;
    font-weight: 500;
    margin-bottom: 15px;
}
.f_total_pembayaran .f_totalpay {
    text-align: right;
}
.f_total_pembayaran span {
    float: none;
}
.f_total_pembayaran span.line-through {
    text-decoration: line-through;
    font-size: 11px;
    color: #999;
}

/* =========== for responsive mobile ============*/
@media only screen and (max-width:769px) {
    /* code here only for < max-width 769px */
}