.row_qna_page{
    font-family: 'Montserrat', sans-serif;
}
.col_banner_qna{
    padding: 0;
}
.mg_banner_qna{
    text-align: center;
    margin: auto;
}
.mg_banner_qna img{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}
.row_body_qna{
    padding-top: 40px;
    padding-bottom: 40px;
}
.col_tab_qna_l{
    padding-left: 50px;
    padding-right: 30px;
}
.col_tab_qna_r{
    height: 1000px;
    padding-left: 0;
    padding-right: 30px;
    border-left: 2px solid #DDDDDD;
}
.ht_sub_qna{
    font-size: 16px;
    color: #434343;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.ul_qna_cat{
    list-style: none;
    padding: 0;
    margin: 0;
}   
.ul_qna_cat li{
  position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ul_qna_cat li a{
    font-size: 13px;
    color: #A7A7A7;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.ul_qna_cat li a span{
    position: absolute;
    top: 13px;
    font-size: 8px;
    margin-left: 15px;
    display: inline-block;
}
.ul_qna_cat li.act a{
    color: #0080FF;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.ul_qna_cat li:hover > a{
    color: #0080FF;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.ul_qna_cat li .child_qna_cat{
    display: none;
    padding-top: 5px;
    padding-left: 15px;
}
.ul_qna_cat li .child_qna_cat .a_child_qna_cat{
    padding-top: 5px;
    padding-bottom: 5px;
}
.ul_qna_cat li .child_qna_cat .a_child_qna_cat a{
    color: #A7A7A7;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.ul_qna_cat li .child_qna_cat .a_child_qna_cat a.act{
    color: #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.ul_qna_cat li .child_qna_cat .a_child_qna_cat a:hover{
    color: #0080FF;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.ul_qna_cat li .child_qna_cat.act{
  display: block;
}

.bx_res_qna_mst{

}


#label_pointer {
  width: fit-content;
  height: auto;
  position: relative;
  background: #D8ECFF;
}
#label_pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 0 solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#label_pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #D8ECFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.ht_tab_qna{
    font-size: 25px;
    color: #434343;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 60px;
}
.ico_tab_pointer{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #313131;
    font-weight: 600;
    letter-spacing: .3px;
    padding-right: 15px;
    padding-left: 15px;
}
.bx_qna_mst{
    padding-left: 15px;
    padding-right: 35px;
    margin-top: 15px;
}
.pt_qna_mst{
    font-size: 14px;
    color: #434343;
    font-weight: 500;
    letter-spacing: .3px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.pt_qna_mst:hover{
    color: #0080FF;
    border-bottom: 1px solid #0080FF;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.bx_det_qna{
  padding-right: 30px;
  padding-left: 30px;
}
.ht_det_qna{
  font-size: 22px;
  color: #434343;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.a_back_qna{
  font-size: 12px;
  color: #0080FF;
  font-weight: 500;
}
.a_back_qna span{
  margin-right: 10px;
}
.cont_det_qna, .cont_det_qna p{
  font-size: 14px;
  color: #434343;
  font-weight: 500;
  line-height: 25px;
}