/* =========== for all dekstop version css ============*/
* { outline: none !important; }
/* temporary */
.ladaraEmas .col-sm-1, .ladaraEmas .col-sm-2, .ladaraEmas .col-sm-3, .ladaraEmas .col-sm-4, .ladaraEmas .col-sm-5, .ladaraEmas .col-sm-6, .ladaraEmas .col-sm-7, .ladaraEmas .col-sm-8, .ladaraEmas .col-sm-9, .ladaraEmas .col-sm-10, .ladaraEmas .col-sm-11, .ladaraEmas .col-sm-12 {
float: left;
}
.ladaraEmas .col-sm-12 {
width: 100%;
}
.ladaraEmas .col-sm-11 {
width: 91.66666667%;
}
.ladaraEmas .col-sm-10 {
width: 83.33333333%;
}
.ladaraEmas .col-sm-9 {
width: 75%;
}
.ladaraEmas .col-sm-8 {
width: 66.66666667%;
}
.ladaraEmas .col-sm-7 {
width: 58.33333333%;
}
.ladaraEmas .col-sm-6 {
width: 50%;
}
.ladaraEmas .col-sm-5 {
width: 41.66666667%;
}
.ladaraEmas .col-sm-4 {
width: 33.33333333%;
}
.ladaraEmas .col-sm-3 {
width: 25%;
}
.ladaraEmas .col-sm-2 {
width: 16.66666667%;
}
.ladaraEmas .col-sm-1 {
width: 8.33333333%;
}
.ladaraEmas .col-sm-pull-12 {
right: 100%;
}
.ladaraEmas .col-sm-pull-11 {
right: 91.66666667%;
}
.ladaraEmas .col-sm-pull-10 {
right: 83.33333333%;
}
.ladaraEmas .col-sm-pull-9 {
right: 75%;
}
.ladaraEmas .col-sm-pull-8 {
right: 66.66666667%;
}
.ladaraEmas .col-sm-pull-7 {
right: 58.33333333%;
}
.ladaraEmas .col-sm-pull-6 {
right: 50%;
}
.ladaraEmas .col-sm-pull-5 {
right: 41.66666667%;
}
.ladaraEmas .col-sm-pull-4 {
right: 33.33333333%;
}
.ladaraEmas .col-sm-pull-3 {
right: 25%;
}
.ladaraEmas .col-sm-pull-2 {
right: 16.66666667%;
}
.ladaraEmas .col-sm-pull-1 {
right: 8.33333333%;
}
.ladaraEmas .col-sm-pull-0 {
right: auto;
}
.ladaraEmas .col-sm-push-12 {
left: 100%;
}
.ladaraEmas .col-sm-push-11 {
left: 91.66666667%;
}
.ladaraEmas .col-sm-push-10 {
left: 83.33333333%;
}
.ladaraEmas .col-sm-push-9 {
left: 75%;
}
.ladaraEmas .col-sm-push-8 {
left: 66.66666667%;
}
.ladaraEmas .col-sm-push-7 {
left: 58.33333333%;
}
.ladaraEmas .col-sm-push-6 {
left: 50%;
}
.ladaraEmas .col-sm-push-5 {
left: 41.66666667%;
}
.ladaraEmas .col-sm-push-4 {
left: 33.33333333%;
}
.ladaraEmas .col-sm-push-3 {
left: 25%;
}
.ladaraEmas .col-sm-push-2 {
left: 16.66666667%;
}
.ladaraEmas .col-sm-push-1 {
left: 8.33333333%;
}
.ladaraEmas .col-sm-push-0 {
left: auto;
}
.ladaraEmas .col-sm-offset-12 {
margin-left: 100%;
}
.ladaraEmas .col-sm-offset-11 {
margin-left: 91.66666667%;
}
.ladaraEmas .col-sm-offset-10 {
margin-left: 83.33333333%;
}
.ladaraEmas .col-sm-offset-9 {
margin-left: 75%;
}
.ladaraEmas .col-sm-offset-8 {
margin-left: 66.66666667%;
}
.ladaraEmas .col-sm-offset-7 {
margin-left: 58.33333333%;
}
.ladaraEmas .col-sm-offset-6 {
margin-left: 50%;
}
.ladaraEmas .col-sm-offset-5 {
margin-left: 41.66666667%;
}
.ladaraEmas .col-sm-offset-4 {
margin-left: 33.33333333%;
}
.ladaraEmas .col-sm-offset-3 {
margin-left: 25%;
}
.ladaraEmas .col-sm-offset-2 {
margin-left: 16.66666667%;
}
.ladaraEmas .col-sm-offset-1 {
margin-left: 8.33333333%;
}
.ladaraEmas .col-sm-offset-0 {
margin-left: 0;
}
/* temporary */
/**global*/
.overflowHidden {
    overflow: hidden !important;
}
.gldDesktop {
    display: block;
}
.gldMobile {
    display: none;
}
.gldHeader {
    position: relative;
    z-index: 99999;
    width: 100%;
    padding-right: 69px;
    padding-left: 60px;
    background-color: white;
    border-radius: 20px 20px 0 0;
}
.full-img {
    width: 100%;
}
#leoverlay {
    position: absolute;
    width: 99vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 99;
}
#container.ladaraEmas{
    position: relative;
}
#container.ladaraEmas.hid:before {
    background: rgba(0, 0, 0, 0.3);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    z-index: 9;
}
#container.ladaraEmas .header {
    height: auto !important;
}
#container.ladaraEmas .header .sticky {
    z-index: 99999;
    position: fixed;
}
#LadaraEmas {
    position: relative;
}
#LadaraEmas a {
    color: #FE5461;
    text-decoration: none;
}
#LadaraEmas a:hover {
    color: #FFB300;
    text-decoration: none;
}
#LadaraEmas textarea:focus,
#LadaraEmas input:focus,
#LadaraEmas select:focus,
#LadaraEmas button:focus,
#LadaraEmas a:focus,
#ladaraEmas .select2:focus {
    outline: none !important;
    box-shadow: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.no-margin {
    margin: 0px !important;
}
.p-relative {
    position: relative;
}
.btn_gldFont {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.btn_gldFont:hover {
    cursor: pointer;
}
.btn_gldFont:disabled {
    cursor: not-allowed;
}
.LEBtn_blue_white {
    background-color: #0080FF;
    color: #ffffff !important;
    border: 2px solid #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
}
.LEBtn_blue_white:hover,
.LEBtn_blue_white:focus {
    background-color: #ffffff;
    color: #0080FF !important;
    border: 2px solid #0080FF;
    outline: none;
}
.LEBtn_white_blue {
    background-color: #ffffff;
    color: #0080FF !important;
    border: 2px solid #0080FF;
    padding: 10px 30px;
    border-radius: 30px;
}
.LEBtn_white_blue:hover,
.LEBtn_white_blue:focus {
    background-color: #0080FF;
    color: #ffffff !important;
    border: 2px solid #ffffff;
    outline: none;
}
.LEBtn_white {
    background-color: #ffffff;
    color: #0080FF !important;
    border: 2px solid #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
}
.LEBtn_white:hover,
.LEBtn_white:focus {
    background-color: #0080FF;
    color: #ffffff !important;
    border: 2px solid #ffffff;
    outline: none;
}
.LEBtn_rainbow {
    background: transparent linear-gradient(90deg, #00CF3E 0%, #0080FF 100%) 0% 0% no-repeat padding-box;
    color: #ffffff !important;
    border: 2px solid #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
}
.LEBtn_rainbow:hover,
.LEBtn_rainbow:focus {
    /* background: transparent linear-gradient(120deg, #FE5461 0%, #00CF3E 100%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(90deg, #00CF3E 0%, #0080FF 130%) 0% 0% no-repeat padding-box;
    outline: none;
}
.bx_gldLoading {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
#gldLoading {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: flex;
}
.bx_le_select .select2-selection__arrow {
    font-size: 12px;
    background: url("../../images/emas/icon-select.svg") no-repeat right center #ffffff;
    right: 20px !important;
}
.bx_le_select .select2.select2-container--open .select2-selection__arrow {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
.bx_le_select .select2-selection__arrow b {
    display: none;
}
/**global*/
.img_gldLogo {
    display: inline-block;
    text-align: left;
    height: 100px;
}
.img_gldLogo img {
    height: 100%;
    width: auto;
}
.ht_ladaraEmas {
    right: 10px;
    top: 30px;
    line-height: 45px;
    font-size: 17px;
    color: #0080FF;
    font-weight: 600;
    border-left: 1px solid #0080FF;
    padding-left: 1em;
}
.bx_gldBreadcrumb {
    padding-top: 2em;
    margin-bottom: 1em;
}
.bx_gldBreadcrumb > div {
    display: inline-block;
}
.bx_gldBreadcrumb a {
    color: #0080FF !important;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bx_gldBreadcrumb a span:first-child {
    font-size: 1.8em;
    line-height: 1;
}
.bx_gldBreadcrumb a span+span {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 1.15em;
}
.bx_breadcrumbGldAktivasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_gldHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    float: left;
}
.col_gldContent {
    background: #fff;
    /* box-shadow: 0px 0px 6px #00000029; */
    border-radius: 10px;
    margin-bottom: 30px;
}
.box_gldBanner {
    /* background: transparent linear-gradient(119deg, #00CF3E 0%, #0080FF 50%) 0% 0% no-repeat padding-box; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 180px;
}
.box_gldBanner > div > div+div > img {
    width: 65%;
    margin-left: 30px;
}
.ht_indexLE h1 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0px;
}
.ht_indexLE h4 {
    /* font-size: 1.14em; */
    font-size: 16px;
    line-height: 2;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.ht_indexLE p {
    font-size: 12px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.ht_indexLE p span {
    display: block;
}
.ht_indexLE p span+span {
    background: url("../../images/emas/logo-treasury.png");
    width: 81px;
    height: 15px;
    margin-top: 2px;
}
.ht_indexLEPlus {
    margin: 1em 0px 1.8em 0px;
    color: #0080FF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}
.bx_LEPlus {
    padding: 2em;
}
.row_LEPlus {
    position: relative;
}
.row_LEPlus .cols {
    text-align: center;
    /* z-index: 999; */
}
.row_LEPlus .cols .btn_gldFont {
    display: inline-block;
}
/* .row_LEPlus .cols > div > img {
    height: 59px;
    margin-bottom: 10px;
}
.row_LEPlus .cols.upload > div > img {
    height: 110px;
} */
.row_LEPlus .cols.upload > div.wrap_foto {
    height: 110px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.row_LEPlus .cols.upload > div.wrap_foto.icon-upload-ktp {
    background-image: url("../../images/emas/icon-upload-ktp.svg");
}
.row_LEPlus .cols.upload > div.wrap_foto.icon-upload-selfie {
    background-image: url("../../images/emas/icon-upload-selfie.svg");
}
.row_LEPlus .cols.upload > div.wrap_foto.icon-undraw {
    background-image: url("../../images/emas/icon-undraw.svg");
}
.row_LEPlus .cols > p {
    color: #313131;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}
.row_LEPlus .cols > p+p {
    color: #A7A7A7;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 5px;
}
.row_LEPlus label.step {
    background: transparent linear-gradient(130deg, #00CF3E 0%, #0080FF 100%) 0% 0% no-repeat padding-box;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 17px;
}
.row_LEPlus label.step_bottom {
    display: flex;
    margin: 35px auto 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 9;
    width: 12em;
    position: relative;
}
.row_LEPlus label.step_bottom span {
    float: left;
    color: #A7A7A7;
    font-size: 12px;
}
.row_LEPlus label.step_bottom span:first-child {
    margin-right: 5px;
    background-color: #A7A7A7;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row_LEPlus label.step_bottom.active span {
    color: #434343;
}
.row_LEPlus label.step_bottom.active span:first-child {
    background-color: #5DB04C;
    color: #ffffff;
    /* font-weight: normal; */
    text-indent: -9999px;
}
.row_LEPlus label.step_bottom.active span:first-child::after {
    display: block;
    /* content: "\002714"; */
    content: " "; 
    background: url("../../images/emas/icon-correct.svg") no-repeat center center #5DB04C;
    text-indent: 0px;
    width: 10px;
    height: 10px;
}
.row_LEPlus .border {
    position: absolute;
    bottom: -11px;
    width: 80%;
    left: 10%;
    /* z-index: 9; */
}
.row_LEPlus .border hr {
    border: 1px solid #A7A7A7;
}
.row_LEPlus span.error {
    color: red;
    font-size: 12px;
    font-weight: bold;
    display: none;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 30px;
}
.row_btnGldIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}
.row_btnGldIndex.scd {
    margin-top: 5px;
}
.row_btnGldIndex > a {
    display: inline-block;
    width: 100%;
}
.row_btnGldIndex > a:first-child {
    margin-right: 10px;
}
.col_stepActivation {
    width: 50%;
}
.col_stepActivation > a {
    float: right;
}
.col_stepActivation > span {
    float: right;
}
.col_stepActivation > span > hr {
    border: 1px solid #434343;
    width: 90px;
    margin: 8px;
}
.col_stepActivation > a > span {
    float: left;
    font-size: 12px !important;
    margin-top: 0px !important;
    color: #A7A7A7;
    margin-left: 6px !important;
}
.col_stepActivation > a > span:first-child {
    border-radius: 100%;
    background-color: #A7A7A7;
    color: #ffffff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px !important;
}
.col_stepActivation > a.active > span:first-child {
    border-radius: 100%;
    background-color: #434343;
    color: #ffffff;
}
.col_stepActivation > a.active > span {
    /* float: left; */
    color: #434343;
}
.ht_aktivasiLE {
    margin: 1em 0px 1.8em 0px;
    color: #313131;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}
.wrap_gldAktivasi {
    position: relative;
    width: 100%;
    height: 580px;
}
#aktivasiLE_foto_ktp {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
#upload_ktp_LE_file,
#upload_foto_LE_file {
    visibility: hidden;
}
#preview_ktp,
#preview_selfie {
    display: none;
    height: 41px;
    align-items: center;
    justify-content: center;
}
#preview_ktp label,
#preview_selfie label {
    margin-left: 5px;
    color: #0080FF;
    cursor: pointer;
    margin-bottom: 0px;
}
#aktivasiLE_bank {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: none;
}
.bx_gldBank > p {
    margin-bottom: 15px;
    width: 90% !important;
    font-size: 12px;
}
.bx_gldBank > div.telp {
    margin-bottom: 15px;
    width: 90% !important;
}
.bx_gldBank > div.telp p {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.bx_gldBank > div.telp p span {
    background-color: #ffffff;
    padding: 9px 0px 8px 30px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #DDDDDD;
}
.bx_gldBank > div.telp input {
    border-width: 1px 1px 1px 0px;
    padding-left: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.bx_gldBank > div.telp:focus span {
    border-color: #f2300c;
}
.bx_gldBank > p.le_term {
    text-align: center;
}
.bx_gldBank input,
.bx_gldBank .select2-container--default .select2-selection--single {
    background-color: #ffffff !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 3px;
}
.bx_gldBank input,
.bx_gldBank .bx_le_select .select2-container,
.bx_gldBank .btn_gldFont {
    width: 100% !important;
}
.bx_gldBank input {
    padding: 10px 30px;
    font-size: 12px;
}
.bx_gldBank .bx_le_select .select2-container .select2-selection--single {
    height: 40px;
}
.bx_gldBank .bx_le_select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}
.bx_gldBank .bx_le_select .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 5px 30px;
    font-size: 12px;
    line-height: 28px !important;
}
.bx_gldBank .bx_le_select .select2-results__option {
    font-size: 11px;
}
.bx_gldBank .bx_le_inputps {
    position: relative;
}
.bx_gldBank .bx_le_inputps span {
    position: absolute;
    width: 57px;
    height: 38px;
    background: url("../../images/emas/icon-hidden.svg") no-repeat center center #ffffff;
    right: 1px;
    top: 1px;
    border-radius: 3px;
    cursor: pointer;
}
.bx_gldBank .bx_le_inputps span.see {
    background-image: url("../../images/emas/icon-hidden.svg");
}
.bx_gldBank .error_le {
    font-size: 9px;
    display: block;
    text-align: right;
    color: #FF0000;
}
.row_gldFinishedActivation {
    padding: 50px 0px;
}
.row_gldFinishedActivation img {
    height: auto !important;
}
.row_gldFinishedActivation h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.row_gldFinishedActivation p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal !important;
}
.col_gldProfile {
    padding: 0px;
}
.box_gldProfile {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 15px;
    cursor: pointer;
}
.box_gldProfile img {
    height: 40px;
    width: 40px;
    background: #f3f3f3;
    border: 1px solid #0080FF;
    border-radius: 50%;
}
.box_gldProfile span {
    margin-left: 10px;
    font-size: 13px;
    color: #0080FF;
    font-weight: 600;
    white-space: nowrap;
}
.box_gldProfileDate {
    padding: 3px 15px;
    background-color: #0080FF;
    color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.box_gldProfileDate span {
    font-size: 12px;
    color: #ffffff;
}
.bx_leMenu {
    padding: 30px 15px;
}
.bx_leMenu a {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #434343 !important;
    font-weight: 600;
    margin-bottom: 15px;
}
.bx_leMenu a.inactive {
    color: #878787 !important;
}
.bx_leMenu a img {
    width: 34px;
    margin-right: 10px;
}
.row_gldDashboardPage {
    /* background: url("../../images/emas/bg-wave.svg") no-repeat 32em 10em #F8F8F8; */
    background: #F8F8F8;
    min-height: 575px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
}
.box_gldDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}
.box_gldBalance {
    display: flex;
    /* width: 100%; */
    justify-content: flex-start;
}
.box_gldBalance img {
    margin-right: 10px;
}
.box_gldBalance p {
    line-height: 1;
    margin-bottom: 0px;
    color: #A7A7A7;
    font-size: 12px;
}
.box_gldBalance p:nth-child(3) {
    color: #434343;
}
.box_gldBalance p:nth-child(3) span {
    font-weight: bold;
}
.box_gldBalance p:first-child {
    display: flex;
    align-items: center;
}
.box_gldBalance h4 {
    line-height: 1;
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #434343;
}
.tooltip_gldBalance {
    margin-left: 6px;
    cursor: pointer;
}
.tooltip_gldBalance::after {
    content: "i";
    width: 13px;
    height: 13px;
    background-color: #A7A7A7;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 10px;
}
.tooltip_gldBalance label {
    position: absolute;
    width: 270px;
    left: 9px;
    background-color: #ffffff;
    top: 40px;
    padding: 15px;
    font-size: 11px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    line-height: 15px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 7px;
    display: none;
    color: #434343;
    z-index: 9;
}
.tooltip_gldBalance:hover label {
    display: block;
}
.box_gldRate {
    display: flex;
    /* width: 100%; */
    justify-content: flex-start;
    padding: 10px 20px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 5px;
}
.box_gldRate > div:first-child {
    margin-right: 14px;
}
.box_gldRate p {
    line-height: 1;
    margin-bottom: 0px;
    color: #A7A7A7;
    font-size: 12px;
}
.box_gldRate h4 {
    line-height: 1;
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #434343;
}
.box_leBgGold {
    background: transparent linear-gradient(277deg, #FFC107 0%, #FFDC8B 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box_lePowered {
    color: #434343;
    font-size: 12px;
    margin-top: 15.5em;
    margin-bottom: 0px;
}
#gldRateTabs {
    border: none !important;
    border-radius: 10px;
    padding: 0px;
}
#gldRateTabs .ui-tabs-nav {
    border: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#gldRateTabs .ui-tabs-nav li {
    width: 50%;
    margin: 0px;
    padding: 5px 10px;
    border: none;
    background: none;
    border-bottom: 2px solid #ffffff;
}
#gldRateTabs .ui-tabs-nav li.ui-tabs-active {
    border-bottom-color: #0080FF;
}
#gldRateTabs .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 600;
}
#gldRateTabs .ui-tabs-nav li.ui-tabs-active a {
    color: #0080FF;
}
#gldHistoryTabs {
    border: none !important;
    border-radius: 10px;
    padding: 0px;
}
#gldHistoryTabs .ui-tabs-nav {
    border: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#gldHistoryTabs .ui-tabs-nav li {
    width: 33.333%;
    margin: 0px;
    padding: 5px 10px;
    border: none;
    background: none;
    border-bottom: 2px solid #ffffff;
}
#gldHistoryTabs .ui-tabs-nav li.ui-tabs-active {
    border-bottom-color: #0080FF;
}
#gldHistoryTabs .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 600;
}
#gldHistoryTabs .ui-tabs-nav li.ui-tabs-active a {
    color: #0080FF;
}
#beliemas,
#jualemas {
    padding: 30px 20px;
}
.col_leBtnBeliEmas {
    text-align: center;
}
.col_leBtnBeliEmas button {
    width: 100%;
}
.col_leBtnBeliEmas button.btn_gldFont:disabled {
    background: #A7A7A7;
    border-color: #FFFFFF;
    color: #FFFFFF !important;
}
.col_leBtnBeliEmas p {
    color: #434343;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 1.4;
}
.col_leBtnBeliEmas p span {
    color: #FE5461;
}
.col_leBtnBeliEmas .col_leTerm {
    margin: 0px;
    color: #434343;
    font-size: 10px;
}
.col_leNilaiRp {
    border-width: 2px 2px 2px 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.col_leNilaiRp,
.col_leNilaiGr {
    height: 12em;
    padding: 10px 15px;
    border-color: #A7A7A7;
    border-style: solid;
}
.col_leNilaiRp .input,
.col_leNilaiGr .input {
    width: 100%;
    color: #434343;
    font-size: 20px;
    font-weight: 600;
    border: none !important;
    padding: 0px;
    background: #ffffff;
    -moz-appearance: textfield;
    cursor: text;
}
.col_leNilaiRp .input::-webkit-outer-spin-button,
.col_leNilaiRp .input::-webkit-inner-spin-button,
.col_leNilaiGr .input::-webkit-outer-spin-button,
.col_leNilaiGr .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.col_leNilaiRp p,
.col_leNilaiGr p {
    color: #A7A7A7;
    font-size: 12px;
}
#loadingLENilaiBeli,
#loadingLENilaiJual {
    color: #FE5461;
    display: block;
}
.col_leNilaiGr {
    border-width: 2px 2px 2px 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.p_leJualNotif {
    color: #A7A7A7;
    font-size: 12px;
}
.p_leJualNotif strong {
    color: #434343;
    font-weight: 600;
}
.bx_leBeli {
    justify-content: center;
    align-items: center;
    display: flex;
}
.bx_leBeli .col_gldContent {
    padding: 25px;
}
.bx_leBeli .col_gldContent h4 {
    font-size: 16px;
    color: #434343;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
.bx_leBeli .col_gldContent h3 {
    font-size: 20px;
    color: #434343;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
.bx_leBeli .col_gldContent .img_finishedCheckout {
    margin: 40px 0px;
}
.bx_leBeli .col_gldContent .button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bx_leBeli .col_gldContent .button a,
.bx_leBeli .col_gldContent .button button {
    display: block;
    width: 90%;
}
.bx_leBeli .col_gldContent .button button.btn_gldFont:disabled {
    background: #909090;
}
.bx_leBeli .col_gldContent .term {
    font-size: 10px;
    color: #434343;
    text-align: center;
}
.bx_leBeli .col_gldContent .term.change {
    text-align: left;
    font-size: 9px;
    color: #FE5461;
}
.bx_leBeliPopup {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    /* width: calc(100vw - 10px); */
    width: calc(100vw - 0px);
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #31313140 0% 0% no-repeat padding-box;
    z-index: 99999;
}
.bx_leBeliPopup .col_gldContent {
    margin: 0px;
}
.bx_leBeliPopup .col_gldContent img {
    margin-bottom: 10px;
}
.bx_leBeliPopup .col_gldContent .button.button2 {
    margin-top: 0px;
}
.bx_leBeliPopup .closePopup {
    font-size: 18px;
    font-weight: normal;
    background-color: #ffffff;
    padding: 15px 25px 10px 20px;
    display: block;
    width: 100%;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #434343;
    margin: 0px;
    cursor: auto;
}
.bx_leBeliPopup .closePopup i{
    cursor: pointer;
    margin-right: 7px;
}
#popUpPaymentGld .col_gldContent,
#popUpNoHpEwalletGld .col_gldContent {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#popUpPaymentGld.bx_leBeliPopup {
    text-align: left;
}
#popUpPaymentGld .col_gldContent {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
}
#popUpPaymentGld .col-md-5 {
    height: 90vh;
}
#popUpPaymentGld .col_gldContent ul {
    padding: 0px;
    margin-bottom: 30px;
}
#popUpPaymentGld .col_gldContent ul li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    position: relative;
    cursor: pointer;
}
#popUpPaymentGld .col_gldContent ul li:after{
    background: url("../../images/emas/icon-select-bank.svg") no-repeat center;
    display: block;
    content: " ";
    position: absolute;
    right: 0px;
    width: 10px;
    height: 100%;
    top: 0px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#popUpPaymentGld .col_gldContent ul li.disabled {
    cursor: not-allowed;
}
#popUpPaymentGld .col_gldContent ul li.disabled div {
    opacity: 0.6;
    cursor: not-allowed;
}
#popUpPaymentGld .col_gldContent ul li.disabled .error_beliemas_cc {
    width: 95%;
    font-size: 11px;
    color: #FF1E00;
    margin: 0px;
}
#popUpPaymentGld .col_gldContent ul li div {
    display: flex;
    align-items: center;
}
#popUpPaymentGld .col_gldContent ul li div img {
    height: 40px;
    margin-bottom: 0px;
    margin-right: 10px;
}
#popUpNoHpEwalletGld p.error_beliemas_ewallet {
    color: #FF1E00;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
}
.bx_leDetailBeli {
    border-top: 1px solid #DDDDDD;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 0px;
}
.bx_leDetailBeli.first {
    border-top: 1px solid #FFFFFF;
    padding-top: 0px;
}
.bx_leDetailBeli p {
    color: #A7A7A7;
    font-size: 16px;
    margin: 0px;
}
.bx_leDetailBeli p+p {
    color: #434343;
    font-weight: 600;
    /* text-align: left;
    width: 110px; */
}
.bx_leDetailBeli.total p {
    font-weight: 600;
    color: #434343;
}
.bx_leDetailBeli.total p+p {
    color: #FE5461;
    font-weight: 600;
}
.col_finishedBeliEmas .title {
    font-weight: normal !important;
    font-size: 20px !important;
}
.col_finishedBeliEmas .title strong {
    font-weight: bold !important;
}
.col_finishedBeliEmas .border {
    height: 3px;
    background: transparent linear-gradient(92deg, #FFDC8B 0%, #FFB300 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    position: relative;
    left: 0px;
    bottom: 0px;
    margin: 30px 0px 20px 0px;
}
.box_invoiceEmas .tgl_invoice {
    margin: 40px auto 40px auto;
    width: 60%;
}
.box_invoiceEmas .tgl_invoice > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box_invoiceEmas .tgl_invoice > div > p {
    color: #333333;
    font-size: 16px;
    margin-bottom: 20px;
}
.box_invoiceEmas .tgl_invoice > div > p:first-child {
    width: 50%;
}
.box_invoiceEmas .tgl_invoice > div > p strong {
    color: #0080FF;
}
.box_invoiceEmas .detail_invoice {
    margin: 40px auto 40px auto;
    width: 100%;
}
.box_invoiceEmas .detail_invoice > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_invoiceEmas .detail_invoice > div > p {
    color: #333333;
    font-size: 16px;
    margin-bottom: 20px;
}
.box_invoiceEmas .detail_invoice > div.red > p+p strong {
    color: #FF1E00;
}
.box_invoiceEmas .detail_invoice > div.total > p {
    font-size: 20px;
    font-weight: bold;
}
.box_invoiceEmas .detail_invoice > div.total > p+p strong {
    color: #FF1E00;
}
.box_invoiceEmas .detail_va {
    text-align: center;
}
.box_invoiceEmas .detail_va p {
    color: #333333;
    font-size: 16px;
}
.box_invoiceEmas .detail_va .btn_gldFont {
    margin: 20px auto 0px auto;
    width: 40%;
    display: block;
}
.box_invoiceEmas .detail_va h4 {
    color: #333333;
    font-size: 20px;
}
.box_invoiceEmas .detail_va h4 input {
    border: none;
    text-align: center;
    cursor: text;
    background-color: #ffffff;
}
.box_invoiceEmas .tutorial_paymentEmas {
    margin-top: 50px;
}
.box_invoiceEmas .tutorial_paymentEmas .title {
    font-size: 16px !important;
    margin-bottom: 20px;
}
.box_invoiceEmas .tutorial_paymentEmas .step {
    margin-bottom: 20px;
}
.box_invoiceEmas .tutorial_paymentEmas .step h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.box_invoiceEmas .tutorial_paymentEmas .step > div {
    display: none;
}
.box_invoiceEmas .tutorial_paymentEmas .step.active > div {
    display: block;
}
.box_invoiceEmas .tutorial_paymentEmas .step img {
    height: 5px;
    margin-right: 4px;
}
.box_invoiceEmas .tutorial_paymentEmas .step.active img {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.col_historyEmas {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
}
.col_heStatus {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
}
.col_heStatus img {
    margin-right: 15px;
}
.col_heStatus p {
    font-size: 12px;
    color: #434343;
}
.col_heStatus p:nth-child(1) {
    font-weight: 600;
    /* margin-bottom: 0px; */
}
.col_heStatus p:nth-child(2) {
    margin-bottom: 0px;
}
/* .col_heStatus p:nth-child(3) {
    margin-bottom: 0px;
} */
.col_heStatus p:nth-child(4) {
    font-weight: 500;
}
.col_heStatus p.success {
    color: #5CC450;
}
.col_heStatus p.pending {
    /* color: #FFB300; */
    color: #FFA600;
}
.col_heStatus p.failed {
    color: #FF1E00;
}
.col_heDetail {
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 17px;
    width: 65%;
}
.col_heDetail .tgl {
    font-size: 12px;
    color: #434343;
    margin-bottom: 3px;
}
.col_heDetail .tgl,
.col_heDetail .id_transaksi {
    font-size: 12px;
    color: #434343;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}
.col_heDetail .jmlh_emas {
    margin-top: 35px;
    color: #333333;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}
.col_heDetail .col_heDetailTransaksi {
    margin-top: 13px;
    border-top: 1px solid #DDDDDD;
    padding-top: 13px;
}
.box_hePembayaran > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.box_hePembayaran > div > p {
    font-size: 14px;
    color: #434343;
    margin-bottom: 5px;
}
.box_hePembayaran > div > p:nth-child(2) {
    font-weight: 600;
    text-align: right;
}
.box_hePembayaran > div > p:nth-child(2) span {
    font-weight: normal;
}
.box_hePembayaran > div:nth-child(1) > p:nth-child(2) {
    color: #FF1E00;
}
.box_hePembayaran > div:nth-child(3) > p:nth-child(2) a {
    color: #0080FF !important;
}
.box_hePembayaran > div:nth-child(3) > p:nth-child(2) a:hover {
    color: #00CF3E !important;
}
.col_heDetailTransaksi .title {
    color: #0080FF;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col_heDetailTransaksi .title span {
    cursor: pointer;
    /* padding-right: 15px; */
}
.col_heDetailTransaksi .title span:after {
    content: " ";
    width: 10px;
    height: 10px;
    /* display: inline-block; */
    background: url("../../images/emas/arrow-down-blue.svg") no-repeat center;
    padding-left: 20px;
}
.col_heDetailTransaksi .title.active span:after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.col_heDetailTransaksi .title a {
    color: #0080FF !important;
}
.col_heDetailTransaksi .title a:hover {
    color: #5CC450 !important;
}
.col_heDetailTransaksi .jmlh {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
}
.col_heDetailTransaksi .jmlh.active {
    display: flex;
}
.col_heDetailTransaksi .jmlh div {
    width: 50%;
    background-color: #FFFFFF;
    padding: 10px 20px;
}
.col_heDetailTransaksi .jmlh div p {
    margin: 0px;
    font-size: 12px;
}
.col_heDetailTransaksi .jmlh div p:nth-child(2) {
    color: #0080FF;
    font-weight: 600;
    font-size: 16px;
}
.col_heDetailTransaksi .jmlh div:nth-child(1) {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-right: 4px solid #F8F8F8;
}
.col_heDetailTransaksi .jmlh div:nth-child(2) {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.bx_metodePembayaranEmas {
    margin-bottom: 30px;
}
.bx_metodePembayaranEmas > div .content {
    margin-bottom: 20px;
    font-weight: normal;
    margin-top: 10px;
    /* display: none; */
}
.bx_metodePembayaranEmas > div .content p {
    font-size: 12px;
}
.bx_metodePembayaranEmas > div .content .ketentuan {
    background-color: #eee;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}
.bx_metodePembayaranEmas > div .content p strong {
    margin-top: 10px;
    display: block;
}
.bx_metodePembayaranEmas > div .content .ccList img {
    height: 25px;
    width: auto;
    margin-right: 5px;
    padding: 3px;
    border-radius: 5px
}
.bx_metodePembayaranEmas .selectedPembayaranEmas {
    display: flex;
    align-items: center;
}
.bx_metodePembayaranEmas .selectedPembayaranEmas span:first-child {
    height: 70px;
    margin-right: 15px;
}
.bx_metodePembayaranEmas .selectedPembayaranEmas span:first-child img {
    height: 100%;
}
.bx_metodePembayaranEmas p.error_beliemas_cc {
    display: block;
    color: #FF1E00;
    margin-top: 5px;
    font-weight: normal;
}
.bx_metodePembayaranEmas > div .content .select2-selection__arrow {
    background: url("../../images/emas/icon-select-bank.svg") no-repeat center #ffffff;
    right: 20px !important;
    height: 95% !important;
}
.bx_metodePembayaranEmas > div .content .select2.select2-container--open .select2-selection__arrow {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
.bx_metodePembayaranEmas > div .content .select2-selection__arrow b {
    display: none;
}
.bx_metodePembayaranEmas > div .content .select2-selection__rendered {
    padding-left: 17px;
}
.bx_metodePembayaranEmas > div .content .select2-selection__rendered .pembayaran-emas {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.bx_metodePembayaranEmas > div .content .select2-selection__rendered .pembayaran-emas label {
    /* width: 45px !important; */
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 30px;
}
.bx_metodePembayaranEmas > div .content .select2-selection__rendered .pembayaran-emas img {
    max-width: 100% !important;
    max-height: 100% !important;
}
.bx_metodePembayaranEmas > div .content .select2-selection--single {
    border-radius: 25px;
    height: 44px !important;
    background-color: #ffffff !important;
    border: 1px solid #DDDDDD !important;
}
.bx_metodePembayaranEmas > div .content .select2-selection--single:focus {
    outline: none !important;
    box-shadow: none !important;
}
.gld_ewalletPhone {
    margin: 12px 0px;
}
.gld_ewalletPhone p {
    position: relative;
}
.gld_ewalletPhone p span {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 17px;
    background-color: #ffffff;
    border: 1px solid #DDDDDD !important;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.gld_ewalletPhone input {
    border-radius: 25px;
    padding: 10px 20px 10px 70px;
    background-color: #ffffff !important;
    border: 1px solid #DDDDDD !important;
    width: 100%;
    -moz-appearance: textfield;
}
.gld_ewalletPhone input::-webkit-outer-spin-button,
.gld_ewalletPhone input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page-template-ladara-emas .select2-dropdown {
    border: 1px solid #DDDDDD !important;
}
.page-template-ladara-emas .select2-results__option {
    padding: 15px !important;
}
.page-template-ladara-emas .select2-results__option .pembayaran-emas {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.page-template-ladara-emas .select2-results__option .pembayaran-emas label {
    width: 45px !important;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.page-template-ladara-emas .select2-results__option .pembayaran-emas img {
    max-width: 100% !important;
    max-height: 100% !important;
}
.page-template-ladara-emas .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ffffff !important;
    color: #5897fb !important;
}
.bx_metodePembayaranEmas .lbl_radio {
    display: block;
    position: relative;
    /* padding-left: 22px; */
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 10px;
}
.bx_metodePembayaranEmas .lbl_radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.bx_metodePembayaranEmas .checkmark {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 12px;
    width: 12px;
    background-color: #dddddd;
    display: none;
    border-radius: 50%;
}
.bx_metodePembayaranEmas .lbl_radio:hover input ~ .checkmark {
    background-color: #ccc;
}
.bx_metodePembayaranEmas .lbl_radio input:checked ~ .checkmark {
    background-color: #0080FF;
}
.bx_metodePembayaranEmas .lbl_radio input:checked ~ .content {
    display: block;
}
.bx_metodePembayaranEmas .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.bx_metodePembayaranEmas .lbl_radio input:checked ~ .checkmark:after {
    display: block;
}
.bx_metodePembayaranEmas .lbl_radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}
.bx_goldHistory .bx_gldLoading {
    position: absolute;
    width: 100%;
    height: auto;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
}
.page_emas {
    margin: 0px;
    text-align: center;
    display: block;
    cursor: pointer;
    font-weight: 600;
}
.page_emas:hover {
    background-color: #F8F8F8;
}
.page_gldContent ol,
.page_gldContent ul {
    padding-left: 20px;
}
.page_gldContent ol li,
.page_gldContent ul li {
    padding-left: 5px;
}
.page_gldContent.page_gldSyaratketentuan ol,
.page_gldContent.page_gldKebijakanprivasi ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 20px;
}
.page_gldContent.page_gldSyaratketentuan ol li,
.page_gldContent.page_gldKebijakanprivasi ol li {
    display: table;
    padding-left: 0px;
    margin: 0px 0px 10px 0px;
    line-height: 25px;
}
.page_gldContent.page_gldSyaratketentuan ol li:before,
.page_gldContent.page_gldKebijakanprivasi ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    display: table-cell;
    padding-right: 0.8em;
}
.page_gldContent.page_gldSyaratketentuan ol li ol,
.page_gldContent.page_gldKebijakanprivasi ol li ol {
    padding: 10px 0px 0px 0px;
}
.page_gldContent.page_gldSyaratketentuan ol li ol > li:before,
.page_gldContent.page_gldKebijakanprivasi ol li ol > li:before {
    content: counters(item, ".") " ";
}
.page_gldContent .row_title_globalPage {
    display: flex;
    align-items: center;
}
.page_gldContent .ht_globalPage {
    font-size: 50px;
}

/* =========== mobile ============*/
.box_mGldHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    height: auto;
}
.box_mGldHeader h3 {
    font-size: 1.3em;
    margin: 0px;
    color: #313131;
    cursor: pointer;
}
.box_mGldHeader h3 a {
    display: block;
    color: #313131;
}
.box_mGldHeader h3 a:before {
    content: " ";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../../images/emas/arrow-left-blue.svg") no-repeat left center;
}
.box_mGldHeader .dots {
    cursor: pointer;
    width: 30px;
    text-align: center;
}
.box_mGldHeader .dots span {
    background-color: #0080FF;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    margin: 0px 11px;
}
.box_mGldHeader .dots span:nth-child(2) {
    margin: 3px 11px;
}
.gldMenu {
    position: fixed;
    right: 0px;
    /* top: -100%; */
    top: 60px;
    display: none;
    z-index: 99;
    padding: 10px 15px;
    background-color: #FFFFFF;
    /* transform: translate(350px,0);
    -webkit-transform: translate(350px,0);
    -o-transform: translate(350px,0);
    -moz-transform: translate(350px,0); */
}
.gldMenu.active {
    right: 0px;
    display: block;
    top: 60px;
}
.gldMenu a {
    display: flex;
    border-top: 1px solid #DDDDDD;
    padding: 10px 50px 10px 7px;
    align-items: center;
    justify-content: flex-start;
    color: #0080FF !important;
}
.gldMenu a:first-child {
    border: none;
}
.gldMenu a div {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gldMenu a div img {
    max-width: 100%;
}
.gldMenu a span {
    margin-left: 10px;
}
.box_mgldDashboard {
    padding-top: 20px;
    background-color: #F8F8F8;
}
.col_mgldDashboard {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.col_mgldDashboardTitle {
    padding: 15px;
}
.col_mgldDashboardTitle > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
    padding: 5px 0px 15px 0px;
}
.col_mgldDashboardTitle > div h3 {
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
}
.col_mgldDashboardTitle > div a {
    background: url("../../images/emas/icon-riwayat.svg") no-repeat 10px center #0080FF;
    display: inline-block;
    color: #ffffff !important;
    padding: 5px 15px 5px 27px;
    font-size: 12px;
    border-radius: 15px;
}
#mgldBalance .box_gldDetail {
    padding: 20px 20px;
}
#mgldBalance .box_gldDetail+.box_gldDetail {
    padding-top: 0px;
}
.box_mgldRate {
    text-align: center;
    width: 50%;
}
.box_mgldRate p {
    font-size: 12px;
    margin: 0px;
}
.box_mgldRate h4 {
    font-size: 15px;
    font-weight: 600;
    margin: 2px 0px 0px 0px;
}
.box_mgldGr {
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 5px;
    margin: 20px 20px;
    font-weight: bold;
    font-size: 13px;
    color: #333333;
}
.box_mgldGr span {
    color: #0080FF;
}
#mgldRateTabs {
    border: none !important;
    border-radius: 10px;
    padding: 0px;
}
#mgldRateTabs .ui-tabs-nav {
    border: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#mgldRateTabs .ui-tabs-nav li {
    width: 50%;
    margin: 0px;
    padding: 5px 10px;
    border: none;
    background: none;
    border-bottom: 2px solid #ffffff;
}
#mgldRateTabs .ui-tabs-nav li.ui-tabs-active {
    border-bottom-color: #0080FF;
}
#mgldRateTabs .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 600;
}
#mgldRateTabs .ui-tabs-nav li.ui-tabs-active a {
    color: #0080FF;
}
#mbeliemas,
#mjualemas {
    padding: 30px 20px;
}
#mgldHistoryTabs {
    border: none !important;
    border-radius: 10px;
    padding: 0px;
}
#mgldHistoryTabs .ui-tabs-nav {
    border: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#mgldHistoryTabs .ui-tabs-nav li {
    width: 33.33%;
    margin: 0px;
    padding: 15px 10px 5px 10px;
    border: none;
    background: none;
    border-bottom: 2px solid #ffffff;
}
#mgldHistoryTabs .ui-tabs-nav li.ui-tabs-active {
    border-bottom-color: #0080FF;
}
#mgldHistoryTabs .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 600;
}
#mgldHistoryTabs .ui-tabs-nav li.ui-tabs-active a {
    color: #0080FF;
}
#mgldHistoryTabs .ui-tabs-panel {
    background: #F8F8F8;
}
#mgld_upload_ktp_file,
#mgld_upload_foto_file {
    visibility: hidden;
}
#mgld_preview_ktp,
#mgld_preview_selfie {
    display: none;
    height: 41px;
    align-items: center;
    justify-content: center;
}
#mgld_preview_ktp label,
#mgld_preview_selfie label {
    margin-left: 5px;
    color: #0080FF;
    cursor: pointer;
    margin-bottom: 0px;
}
.wrap_mgldAktivasi {
    position: relative;
    width: 100%;
    height: 1290px;
}
#maktivasigld_foto_ktp {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
#maktivasigld_bank {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: none;
}
.box_gldAdvs > div {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.box_gldAdvs > div > div p {
    margin: 0px;
    font-size: 13px;
    color: #A7A7A7;
}
.box_gldAdvs > div > div p:first-child {
    margin: 0px 0px 4px 0px;
    font-weight: bold;
    font-size: 15px;
    color: #313131;
}
.box_gldAdvs > div > div img {
    height: 100%;
}
.box_gldAdvs > div > div:first-child {
    height: 65px;
    margin-bottom: 10px;
    text-align: center;
}
.box_gldAdvs > div > div+div {
    height: 100%;
}
.box_mgldAdvs > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.box_mgldAdvs > div > div p {
    margin: 0px;
    font-size: 13px;
    color: #A7A7A7;
}
.box_mgldAdvs > div > div p:first-child {
    margin: 0px 0px 4px 0px;
    font-weight: bold;
    font-size: 15px;
    color: #313131;
}
.box_mgldAdvs > div > div img {
    max-width: 100%;
}
.box_mgldAdvs > div > div:first-child {
    width: 45px;
    margin-right: 20px;
    text-align: center;
}
.box_mgldAdvs > div > div+div {
    width: 78%;
}
.imgProccessingTransaksi {
    background: url("../../images/emas/img-processing-emas.svg") no-repeat center;
    width: 400px;
    height: 253px;
    margin: 2px auto 10px auto;
    background-size: contain;
}

/* =========== for responsive mobile ============*/
@media screen and (max-width:769px) {
    .gldDesktop {
        display: none;
    }
    .gldMobile {
        display: block;
    }
}

@media screen and (min-width:769px) {
    #container.ladaraEmas {
        min-width: 1440px;
        width: 100%;
        max-width: 100%;
    }
    #container.ladaraEmas .header .sticky {
        z-index: 99999;
        width: 1440px;
    }
}

@media screen and (min-width:960px) {
    #container.ladaraEmas {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:769px) {
    #container.ladaraEmas .header {
        background: #ffffff;
        overflow: visible;
        z-index: 99;
    }
    .bx_head_middle.gldHeader {
        /* height: auto; */
        padding: 0px;
        border-radius: 0px;
    }
    .row_gldDashboardPage {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box_gldBalance {
        width: 100%;
    }
    .box_gldBalance img {
        margin-right: 21px;
    }
    .box_leBgGold {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .col_leNilaiRp,
    .col_leNilaiGr {
        height: 9em;
    }
    .col_leNilaiGr {
        border-width: 1px 1px 1px 0px;
    }
    .col_leNilaiRp {
        border-width: 1px;
    }
    .col_leBtnBeliEmas .col_leTerm {
        margin: 20px 0px 10px 0px;
    }
    .col_mgldDetailBeli > h4 {
        font-weight: 600;
        font-size: 16px;
    }
    .col_mgldDetailBeli > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
    }
    .col_mgldDetailBeli > div:nth-child(2) {
        border-bottom: 1px solid #EEEEEE;
    }
    .col_mgldDetailBeli > div p {
        margin: 0px;
    }
    .col_mgldDetailBeli > div:nth-child(3) p+p {
        color: #FF1E00;
    }
    .tutorial_paymentEmas h4 {
        font-size: 14px !important;
    }
    .bx_leDetailBeli p {
        font-size: 13px;
    }
    .bx_metodePembayaranEmas > div .content p {
        font-size: 11px;
    }
    #popUpPaymentGld .col-md-5 {
        height: 80vh;
    }
    .bx_leBeli .col_gldContent .button a,
    .bx_leBeli .col_gldContent .button button {
        width: 100%;
    }
    .bx_leBeliPopup {
        top: 4.3em;
        justify-content: center !important;
        align-items: flex-start !important;
        padding-top: 1em;
    }
    .col_finishedBeliEmas .title {
        font-weight: normal !important;
        font-size: 15px !important;
    }
    .col_finishedBeliEmas .border {
        margin: 20px 0px 20px 0px;
        height: 5px;
    }
    .box_invoiceEmas p {
        font-size: 13px;
    }
    .box_invoiceEmas .tgl_invoice {
        margin: 20px auto 20px auto;
        width: 100%;
    }
    .box_invoiceEmas .tgl_invoice > div > p {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .box_invoiceEmas .detail_invoice > div > p {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .box_invoiceEmas .detail_invoice {
        margin: 20px auto 20px auto;
    }
    .box_invoiceEmas .detail_invoice > div.total > p {
        font-size: 13px;
    }
    .box_invoiceEmas .tutorial_paymentEmas .step img {
        height: 13px;
    }
    .box_invoiceEmas .detail_va p {
        font-size: 15px;
    }
    .box_invoiceEmas .tutorial_paymentEmas .title {
        font-size: 14px !important;
        line-height: 25px;
    }
    .box_invoiceEmas .tutorial_paymentEmas .step.active > div li {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .box_invoiceEmas .detail_va .btn_gldFont {
        width: 100%;
    }
    .col_historyEmas {
        display: block;
        padding: 20px;
    }
    .col_heStatus {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #DDDDDD;
        padding: 0px 0px 13px 0px;
    }
    .col_heStatus p {
        text-align: right;
    }
    .col_heStatus > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 600;
    }
    .col_heDetail {
        width: 100%;
        padding: 13px 0px 0px 0px;
        background: none;
    }
    .col_heDetailTransaksi .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .col_heDetailTransaksi .title > div {
        text-align: left;
        padding-right: 7px;
    }
    .col_heDetailTransaksi .title > div p {
        margin: 0px;
        font-weight: normal;
        color: #434343;
        font-size: 13px;
    }
    .box_hePembayaran > div > p {
        font-size: 13px;
    }
    .col_heDetailTransaksi .jmlh {
        border-radius: 7px;
    }
    .col_heDetailTransaksi .jmlh div {
        background-color: #F2F2F2;
    }
    .col_heDetailTransaksi .jmlh div p {
        margin: 0px;
        font-size: 11px;
        height: 33px;
    }
    .col_heDetailTransaksi .jmlh div p:nth-child(2) {
        color: #0080FF;
        font-weight: 600;
        font-size: 14px;
    }
    .box_hePembayaran > div > p.success {
        color: #5CC450;
    }
    .box_hePembayaran > div > p.pending {
        /* color: #FFB300; */
        color: #FFA600;
    }
    .box_hePembayaran > div > p.failed {
        color: #FF1E00;
    }
    .page_emas {
        padding: 10px 20px;
    }
    .row_gldFinishedActivation img {
        height: auto !important;
        width: auto;
    }
    .col_stepActivation {
        width: 100%;
    }
    .col_stepActivation > span > hr {
        border: 1px solid #434343;
        width: 25px;
        margin: 8px;
    }
    .bx_LEPlus {
        padding: 1em;
    }
    .bx_gldBank {
        margin-top: 30px;
    }
    .bx_gldBank .btn_gldFont {
        margin-top: 20px;
    }
    .row_btnGldIndex {
        margin-top: 5em;
    }
    .page_gldContent .bx_globalPage {
        padding: 40px;
    }
    .col_leNilaiRp p, .col_leNilaiGr p {
        font-size: 10px;
    }
    .page_gldContent .ht_globalPage {
        font-size: 26px;
    }
    .page_gldContent.page_gldSyaratketentuan ol,
    .page_gldContent.page_gldKebijakanprivasi ol {
        padding: 0px 0px 0px 5px;
    }
    .box_invoiceEmas .tgl_invoice > div {
        align-items: flex-start;
    }
    .box_invoiceEmas .tgl_invoice > div > p:first-child {
        width: 30%;
    }
    .imgProccessingTransaksi {
        width: 100%;
        min-height: 220px;
        margin: 2px 0px 10px 0px;
        background-size: contain;
    }
    .box_mgldAdvs > div {
        align-items: flex-start;
        justify-content: flex-start;
    }
}